* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

.Main {
    background: #CDD5F9;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PlayerContainer {
    position: absolute;
    width: 300px;
    height: 500px;
    background: #ffccff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.PlayerDisplay {
    height: 380px;
    background: #42496d;
}

.PlayerControls {
    height: 120px;
    background: #ffffff;
    padding: 10px;
}

.TimeView {
    text-align: right;
    height: 20px;
    font-size: 14px;
}

.PlayerControlsPanel {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.ShuffleIcon, .RepeatIcon {
    width: 30px;
    margin: auto;
}

.PrevIcon, .NextIcon {
    width: 20px;
    margin: auto;
}

.PlayIcon {
    width: 40px;
    margin: auto;
}

.PlayList {
    background: #ffffff;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.PlayListItem {
    height: 60px;
    padding: 10px;
    padding-right: 40px;
    position: relative;
}

.PlayListItem .SongName {
    font-weight: bold;
}

.PlayListItem .ArtistName {
    font-size: 14px;
}

.PlayListItem .Duration {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 13px;
}

.PlayListItem .Separator {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    border-bottom: 0.1px solid #cccccc; 
}

.TimeView .MoreIcon {
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
