* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

.MainContainer {
    background: #d1f8ff;
    width: 100%;
    height: 100%;
}

.MainView {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.PlayerContainer {
    position: absolute;
    width: 300px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.PlayerDisplay {
    background-image: url("/coldplay.png");
    background-position: center;
    background-size: cover;
    height: 380px;
    position: relative;
}

.PlayerDisplay .SongName {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 100px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;

}

.PlayerDisplay .ArtistName {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 80px;
    color: #ffffff;
}

.PlayerControls {
    height: 120px;
    background: #ffffff;
}

.PlayerControlsPanel {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.ShuffleIcon, .RepeatIcon {
    width: 30px;
    margin: auto;
    visibility: hidden;
}

.PrevIcon, .NextIcon {
    width: 20px;
    margin: auto;
    cursor: pointer;
}

.PlayIcon {
    width: 40px;
    margin: auto;
    cursor: pointer;
}

.TimeViewContainer {
    text-align: right;
    height: 25px;
    font-size: 14px;
}

.TimeView {
    position: relative;
    padding-top: 5px;
    padding-right: 5px;
}

.TimeView .MoreIcon {
    width: 16px;
    position: absolute;
    right: 85px;
    top: 6px;
    cursor: pointer;
}

.ProgressContainer {
    height: 5px;
    background: #6aa9b5;
}

.ProgressView {
    height: 5px;
    background: #d0f8ff;
    width: 0px;
}
